<header>
  <nav class="nav">
    <a href="">
      <svg width="20px" height="20px" class="account-menu__icon">
        <use xlink:href="#location"></use>
      </svg>
      <span>home</span>
    </a>
    <a href="">
      <svg width="20px" height="20px" class="account-menu__icon">
        <use xlink:href="#filter"></use>
      </svg>
      <span>settings</span>
    </a>
    <a href="">
      <svg width="20px" height="20px" class="account-menu__icon">
        <use xlink:href="#group"></use>
      </svg>
      <span>transactions</span>
    </a>
  </nav>
</header>
<section>
  <app-map></app-map>
</section>
